.modalWindowContentWrapper{
  background-color: white;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.modalWindowWrapper{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}